.right {
  display: none;
}

@media (min-width: 47.5rem) {
  .right {
    display: block;
    grid-area: right-side;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 80%;
    background-color: var(--bg-color);
  }
}

@media (min-height: 38rem) {
  .right {
    height: 90%;
  }
}
