.burger-button {
  width: 2rem;
  height: 2.5rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 1.5rem;
  justify-content: space-evenly;
  align-items: flex-end;
  cursor: pointer;
}

.burger-button span {
  width: 2rem;
  height: 0.1rem;
  background-color: #61eacd;
}

@media (min-width: 47.5rem) {
  .burger-button {
    display: none;
  }
}
